@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&display=swap");

.base-content{
  margin-top: 6rem;
}


.base-option {
  padding: 0.2rem;
}
.base-title {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "Baloo Da 2", cursive;
  color: rgb(235, 240, 255);
  margin: 0.3rem auto;
  padding: 0;
}
.img-icon {
  border: 0;
  text-decoration: none;
  padding: 0.1rem;
  margin-right: 0.2rem;
  width: 0.8rem;
  height: 0.6rem;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
}

.option-name {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Baloo Da 2", cursive;
  color: rgb(235, 240, 255);
}

.base-content hr {
  height: 1px;
  background: rgba(177, 199, 255, 0.493);
  border: none;
}

.base-option:hover {
  cursor: pointer;
}
