.content {
  min-width: 20%;
  height: auto;
  width: fit-content;
  min-height: 70%;
  text-align: center;
  padding: 0.7rem;
  margin: auto;
  margin-top: 7rem;
}

.welcome-text h2 {
  font-size: 1.8rem;
  font-family: "Baloo Da 2", cursive;
  font-weight: 500;
  color: rgb(235, 240, 255);
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

.home-button-container {
  margin: auto;
  text-align: center;
  width: fit-content;
}
